.all {
    width: 65%;
    border: inset;
    text-align: center;
    margin-left: 150px;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: pink;
    padding: 10px;
}

.comment {
    flex: 5;
    flex-direction: row;
    display: flex;
    padding: 10px;
}

.ava {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid black;
}

.cmt {
    width: 100%;
    height: 80px;
    padding: 12px;
    margin-left: 20px;
}

.postBut {
    width: 5%;
    height: 50px;
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}